{#
  @var $this yii\web\View
#}
{% extends "common.twig" %}
{% block main %}
    <div class="box">
        <div class="box-body">
            {{ content | raw}}
        </div>
    </div>
{% endblock %}