<div class="timeline-item">
    <span class="time">
        <i class="fa fa-clock-o"></i>        
        {{ app.formatter.asRelativeTime(model.created_at) }}
    </span>

    <h3 class="timeline-header">
        {{ t('backend', 'You have new user!') }}
    </h3>

    <div class="timeline-body">
        {{ t('backend', 'New user ({identity}) was registered at {created_at}', {identity: model.data['public_identity'], created_at: app.formatter.asDatetime(model.data['created_at'])}) }}        
    </div>

    <div class="timeline-footer">
        {{ html.a(t('backend', 'View user'), path('/user/view/', {'id': model.data['user_id']}), {class: 'btn btn-success btn-sm'}) | raw }}        
    </div>
</div>
    